<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Variante con Windows Authentication -->
    <add name="AniCLinic"
         connectionString="Data Source=MERY\SQLEXPRESS;Initial Catalog=AniCLinic;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />

    <!-- Si usas usuario/clave (por ejemplo sa), comenta la de arriba y usa esta:
    <add name="AniCLinic"
         connectionString="Data Source=MERY\SQLEXPRESS;Initial Catalog=AniCLinic;User ID=sa;Password=TU_PASSWORD;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
