<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="ConexionBD" connectionString="Data Source=DESKTOP-QKMQLEV\SQLEXPRESS;Initial Catalog=AniClinic;Integrated Security=True;TrustServerCertificate=True" />
	</connectionStrings>

	<appSettings>
		<add key="Smtp.Host" value="smtp.gmail.com" />
		<add key="Smtp.Port" value="587" />
		<add key="Smtp.User" value="aniclinic97@gmail.com" />
		<add key="Smtp.Pass" value="dkvbtkdpilarkxfb" />
		<add key="Smtp.From" value="AniClinic &lt;aniclinic97@gmail.com&gt;" />

		<add key="Notifier.IntervalMinutes" value="5" />
		<add key="Notifier.ReminderHour" value="08:00" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
